body{
background-color: papayawhip;
margin: auto;
width: 55%;
}
#header {
text-align: center;
color: blue;
border: 3px dotted DeepSkyBlue;
}
td {
margin-left: 200px;
border: 3px double DeepSkyBlue;
height: 200px;
width: 200px;
font-size: 70px;
color: DeepSkyBlue;
text-align: center;
}


td:hover {
background-color: turquoise;
}

