h1{
	font-family: "Helvetica";
	font-size: 30px;
	color: yellow;
}

html{
	text-align: center;
}
div{
	margin: 100px;
	border: 5px solid black;
	background-color: skyblue;
	padding: 100px;
}
#header-container{
	font-size: 30px;
}
#paragraph-container{
	border: 30px solid white;
}
body {
	font-family: "Calibri";
	size: 13px;
	background-color: grey;
}
